server {

    # {{ comment }}
    listen {{ portstring }} {% if udp %} udp {% endif %}{% if ssl %} ssl {% endif %};
    listen [::]:{{ portstring }} {% if udp %} udp {% endif %}{% if ssl %} ssl {% endif %};

    proxy_timeout {{ proxy_timeout }};
    proxy_responses 1;
    proxy_pass {{ targetip }}:$server_port;

    {% if transparent %} proxy_bind $remote_addr{% if udp %}:$remote_port{% endif %} transparent; {% endif %}
}

