server{

    # {{ comment }}
    
    listen 443 ssl;
    listen [::]:443 ssl;

    {% if servernames %}server_name{% for s in servernames %} {{ s }}{% endfor %};{% endif %}

    {% if acme %}
    include acme-challenge.conf;
    {% endif %}

    location / {    
        proxy_pass http://{{ targetip }}:{{ targetport }};
        proxy_set_header Host $http_host;
        {{ proxy_pass_blob }}
        {% if basicauth %}
        auth_basic "{{ basicauth }}";
        auth_basic_user_file /etc/nginx/{{ basicauth }}.htpasswd;
        {% endif %}
    }
}

