server{

    # {{ comment }}
    
    listen 443 ssl;
    listen [::]:443 ssl;

    {% if servernames %}server_name{% for s in servernames %} {{ s }}{% endfor %};{% endif %}

    include acme-challenge.conf;

    location / {    
        proxy_pass http://{{ targetip }}:{{ targetport }};
        proxy_set_header Host $http_host;
    }
}

