server {

    # {{ comment }}
    listen {{ portstring }} {% if udp %} udp {% endif %}{% if ssl %} ssl {% endif %};
    listen [::]:{{ portstring }} {% if udp %} udp {% endif %}{% if ssl %} ssl {% endif %};

    proxy_timeout {{ proxy_timeout }};
    proxy_responses 1;

    {% if targetportoverwrite %}
    proxy_pass {{ targetip }}:{{ targetportoverwrite }};
    {% else %}
    proxy_pass {{ targetip }}:$server_port;
    {% endif %}

    {% if transparent %}
    proxy_bind $remote_addr:{% if targetportoverwrite %}{{ targetportoverwrite }}{% else %}$remote_port{% endif %} transparent;
    {% endif %}
}

